
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    --font-dm-sans: 'DM Sans';
    
    --font-size-xs: 12px;
    --font-size-base: 16px;
    --font-size-smi: 13px;
    
    --color-white: #fff;
    --color-lightpurple: #433D8B;
    --color-midnightblue: #2e236c;
    --color-darkpurple: #17153B;
    --color-black: #000;
    
}